<!--<h3>Add a new track: </h3>-->
<!--<hr>-->
<!--<div class="row">-->
<!--    <div class="col-sm-6 col-sm-offset-3">-->
<!--        <form>-->
<!--            <div class="form-group">-->
<!--                <label for="trackNameInput">Track Name:</label>-->
<!--                <input type="text" class="form-control" id="trackNameInput" ng-model="$ctrl.modalData.trackNameInput" placeholder="Track Name ...">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="trackLengthMin">Track Minutes:</label>-->
<!--                <input  type="number" class="form-control" id="trackLengthMin" ng-model="$ctrl.modalData.trackLengthMin" min="0">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="trackLengthSec">Track Seconds:</label>-->
<!--                <input  type="number" class="form-control" id="trackLengthSec" ng-model="$ctrl.modalData.trackLengthSec" min="1" max="59">-->
<!--            </div>-->
<!--            <div class="form-group pull-right">-->
<!--                <button class="btn btn-danger" type="button" ng-click="$ctrl.handleDismiss()">Cancel</button>-->
<!--                <input type="submit" class="btn btn-success" ng-click="$ctrl.handleClose()" value="Add">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
