<script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="{{match.model.profilePicture}}" width="16">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="genreTemplate.html">
    <a>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<div>
    <div class="row panel panel-default">
        <div class="col-sm-6">
            <h1 class="test-class">New Album</h1>
                <div class="form-group">
                    <label class="form-label">Album Title:</label>
                    <input type="text" class="form-control" ng-model="albumTitleInput" placeholder="Album Title ...">
<!--                    <div>Cropped Image:</div>-->
<!--                    <div><img ng-src="{{myCroppedImage}}" /></div>-->
                </div>

                <div class="form-group">
                    <label class="form-label">Artist Name:</label>
                    <input type="text" ng-model="artistSelected" placeholder="Artist ... " uib-typeahead="artistInfo as artistInfo.name for artistInfo in artistsInfo | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                </div>

                <div class="form-group">
                    <label class="form-label">Genre:</label>
                    <input type="text" ng-model="genreSelected" placeholder="Genre ..." uib-typeahead="genreInfo as genreInfo.name for genreInfo in genresInfo | filter:{name:$viewValue}" typeahead-template-url="genreTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                </div>

                <div class="form-group">
                    <label class="form-label">Release Date:</label>
                    <date-picker
                            dt="dt"
                    >

                    </date-picker>
                </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group text-center">
                <div class="cropArea" style="width: 200px; height: 200px; display: inline-block; margin-top: 30px;">
                    <ui-cropper image="myImage" area-type="square" result-image="myCroppedImage" ></ui-cropper>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="fileInput">Album Cover</label>
                <input type="file" class="form-control" id="fileInput">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="onCreate()">Submit</button>
            </div>
        </div>
    </div>
</div>
