<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="{{artist.profilePicture}}" style="width: 50%; border-radius: 50%" alt="">
                <div class="form-group">
                    <label for="artistNameInput">Artist Name:</label>
                    <input type="text" id="artistNameInput" class="form-control" ng-model="artistNameEditInput" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"> Save </button>
                    <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-picture"></span> </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6" ng-repeat="album in artist.albums">
                <div class="panel panel-default" >
                    <div class="panel-body text-center">
                            <p><img ng-src="{{album.cover}}" style="width: 100px;"></p>
                    </div>
                    <div class="pannel-footer text-center">
                        <p>{{album.title}}</p>
                        <p> {{album.releaseDate | date : "yyyy"}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
