<div class="modal-body">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.handleDismiss()"><span aria-hidden="true">&times;</span></button>

    <h3>Update Album Cover</h3>
    <hr>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form>
                <div class="form-group text-center">
                    <label class="form-label" for="profilePictureEdit">Crop again</label>
                    <div class="cropArea form-control" id="profilePictureEdit" style="width: 200px; height: 200px; display: inline-block; margin-top: 30px;">
                        <ui-cropper image="$ctrl.albumCoverForEdit" area-type="square" result-image="$ctrl.albumCoverForEditCropped" result-image-size="'max'"></ui-cropper>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="updateAlbumCoverInput">Or select a new picture for the artist</label>
                    <input type="file" class="form-control" id="updateAlbumCoverInput" ng-model="$ctrl.selectedFile" onchange="angular.element(this).scope().$ctrl.handlePreview(this)">
                </div>

                <div class="form-group">
                    <button class="btn btn-danger" type="button" ng-click="$ctrl.handleDismiss()">Cancel</button>
                    <button class="btn btn-success" type="button" ng-click="$ctrl.handleClose()">Save</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="cropArea" ng-show="$ctrl.selectedFile">
                <img ng-src="{{ $ctrl.previewImage }}" />
            </div>
        </div>
    </div>
</div>
